{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}

<main class="main">
	{{#with data}}
		<div class="main__content">
			<h1 class="title title--center">{{name}}</h1>
			
			<a href="/spotify-track-add?playlistId={{playlistId}}" class="add-button">
				<img src="/svg/add_button.svg">
				Додати до плейлиста
			</a>

			<ul class="track-list">
				{{#each tracks}}
					<li class="track">
						<img src="{{image}}" alt="{{name}}">
						<div class="track__content">
							<strong class="track__name">{{name}}</strong>
							<em class="track__author">{{author}}</em>
						</div>
						{{#each track}} {{this}} {{/each}}
						<a href="/spotify-track-delete?playlistId={{../playlistId}}&trackId={{id}}">
							<img src="/svg/delete_button.svg">
						</a>
					</li>
				{{/each}}
			</ul>
			
				 <form action="/spotify-track-add" method="POST">
							<input type="hidden" name="playlistId" value="{{../playlistId}}">
							<input type="hidden" name="trackId" value="{{id}}">
							<button type="submit">
									<img src="/svg/tabler_plus.svg" class="track__icon">
							</button>
					</form>

		</div>
			
		</div>
	{{/with}}
</main>

{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}