{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}

<main class="main">





	<section class="main__content playlist">
        {{#with data}}
        <h1 class="title">Додати до плейліста</h1>
        <ul class="track-list">
            {{#each tracks}}
            <li class="track">
                <img src="{image}}" class="track__image">
                <div class="track__content">
                    <strong class="track__title">{{name}}</strong>
                    <p class="track__text">{{author}}</p>
                </div>
                {{!-- <a href="/spotify-track-add?playlistId=../playlistId}}&trackId={id}}">
                    <img src="/svg/tabler_plus.svg" class="track__icon">
                </a> --}}
                <form action="/spotify-track-add" method="POST">
                    <input type="hidden" name="playlistId" value="{../playlistId}}">
                    <input type="hidden" name="trackId" value="{id}}">
                    <button type="submit">
                        <img src="/svg/tabler_plus.svg" class="track__icon">
                    </button>
                </form>
            </li>
            {{/each}}
        </ul>
        {{/with}}
    </section>










	{{!-- <p> Додати до плейлиста </p>

	<form action="/spotify-track-add" method="POST">
		<input type="hidden" name="playlistId" value="{{../playlistId}}">
		<input type="hidden" name="trackId" value="{{id}}">
		<button type="submit">
				<img src="/svg/add_playlist.svg" class="track__icon">
		</button>

		{{#with data}}
			<div class="main__content">
				<num>{{playlistId}}</num>
				<strong>{{tracks}}</strong>
				<link href="{{link}}">
			</div>
		{{/with}}

	</form> --}}

	

</main>

{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}