{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}

<main class="main">
	<p> Додати до плейлиста </p>

	<form action="/spotify-track-add" method="POST">
		<input type="hidden" name="playlistId" value="{{../playlistId}}">
		<input type="hidden" name="trackId" value="{{id}}">
		<button type="submit">
				<img src="/svg/add_playlist.svg" class="track__icon">
		</button>

		{{#with data}}
			<div class="main__content">
				<num>{{playlistId}}</num>
				<strong>{{tracks}}</strong>
				<link href="{{link}}">
			</div>
		{{/with}}

	</form>

	

</main>

{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}